{% macro render_entry_related(entry, comment_count=true) %}
  {% set pipe = joiner('|') %}
  {%- if entry.categories %} {{ pipe() }}
    {{ _('Categories') }}:
    {% for category in entry.categories -%}
      <a href="{{ url_for(category)|e }}">{{ category.name|e }}</a>
      {%- if not loop.last %}, {% endif %}
    {%- endfor %}
  {%- endif %}
  {%- if entry.tags %} {{ pipe() }}
    {{ _('Tagged as') }}:
    {% for tag in entry.tags -%}
      <a href="{{ url_for(tag)|e }}">{{ tag.name|e }}</a>
      {%- if not loop.last %}, {% endif %}
    {%- endfor %}
  {% endif %}
  {%- if comment_count %} {{ pipe() }}
    <a href="{{ url_for(entry)|e }}#comments">{% trans comments=entry.comment_count
       %}{{ comments }} comment{% pluralize %}{{ comments}} comments{% endtrans -%}</a>
  {% endif %}
  {%- if request.user.is_manager %} {{ pipe() }}
    <a href="{{ url_for('admin/edit_post', post_id=entry.id) }}">{{ _('Edit') }}</a>
  {%- endif %}
{% endmacro %}

{% macro render_entry(entry) -%}
  <div class="feed-item">
    {{ emit_event('before-entry-rendered', entry) }}
    <h1>Kyle posted a blog</h1>
    <h2><a href="{{ url_for(entry)|e }}">{{ entry.title|e }}</a></h2>
    <small>
      {%- trans author='<a href="%s">%s</a>' %
        (url_for(entry.author), entry.author.display_name|e),
        pub_date=entry.pub_date|datetimeformat|e -%}{{ pub_date }}.
      {%- endtrans %}
    </small>
    {{ emit_event('after-entry-rendered', entry) }}
  </div>
{%- endmacro %}
